@import url(./global.css);

html{
    font-size: var(--ft_s);
}
/*Reset CSS*/
*,
::after,
::before{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
header , section , footer{
        padding-inline: 5%;
}
h1{
     font-size: var(--ft_main_h1);
    
}
h2{
    font-size: var(--ft_s_h2 );
}
h1,h2{
     color: var(--white);
}
button{
    border:1px solid transparent;
    padding: calc((130px - 98px)/2) calc((42px - 18px/2)) ;
    border-radius: 2.5rem;
    text-align: center;
    font-weight: bold;
}
header .header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: clamp(44px, calc(32.732px + 3.005vw), 76px);
}
ul{
    list-style-type: none ;
}
ul li a{
    text-decoration: none;
    color:var(--white);
}
nav ul li a{
    margin-inline: 10px;
    font-size: initial;
    
} 
nav ul {
    display: flex;
    width: fit-content;
    justify-content: space-evenly;
}

main{
    margin-inline: auto;
}



#main_section , header{
    background-color: var(--fs_bg);
}

#main_section{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
@media  screen and (min-width:728px) {
    #main_section{

    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
}
#main_section>:first-child{
    text-align: initial;
}
#main_section p , #main_section h1{
    color: var(--white);
    text-wrap: balance;
}
#main_section img{
    width: 40.5%;
    object-fit: contain;
    mask-image: url(../assets/icon-asterisk.png);
}
.button_set{
    display: inline-block;
    margin-top: 1.5rem;
    text-wrap: nowrap;
}
.button_set button:first-child{
    background-color: var(--fs_btn_bg);
    color: var(--fs_btn_content_color);
    margin-right: 5%;
}
.button_set>*:nth-last-child(1){
    border: 1px solid var(--white);
    background-color: transparent;
    color: var(--white);

}
section{
    height: 100vh;
    text-align: center;
}



#services{
    height: initial;
    padding-block: max(2.5rem , 5vh );
}
.grid_container{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px ,  calc(100% /3 - 80px)));
    grid-template-rows: 1fr;
    gap: 80px;
}
.grid_container .card{
    font-size: 18px;
    text-align: initial;
    h1{
        margin-block: .5rem;
        font-size: 24px;
        color: initial;
        text-wrap: balance;

    }
    
}
#purple{
    padding: 5%;
    background-color: var(--snds_bg);
    color: var(--white);
    height: fit-content;

}

#purple h1{
        font-size: var(--ft_s_purpleS);
    }
#purple_S_content{
    width: fit-content;
    background-color: transparent;
    display: flex;
    gap: var(--ft_s_autor);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-wrap: balance;
    margin-inline: auto;
}

#purple_S_content img{
        object-fit: cover;
        object-position: center;
        width:clamp(325px,30%,792px ) ;
        height: clamp(300px,30%,465px);
    }
    
#CTA_s{
    padding: 2rem;
    background-image: var(--CTA_bg);
    height: fit-content;
    color: var(--white);
    h1{
        font-size: var(--ft_s_h2);
    }

}
#CTA_s>*{
    margin-block: 5%;
}
#testimony_section{
    height: fit-content;
}
.testimony{
    margin-inline: auto;
    padding-block: 5%;
    max-width: 790px;
    width: 90%;
    text-align: left;
    font-size: var(--ft_s_testimony_p);
    font-weight: bold;
}
.testimony>*{
    margin-block: 5%;
}
.testimony .avatar {
    display: flex;
    max-width: 449px;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    .description_avatar{
            font-size: var(--ft_s_autor);
            font-weight: normal;
            text-align: center;


    }
}
@media screen and (min-width:768px){
    .testimony .avatar {
    flex-flow: row nowrap;
    align-items: center;
}
     .testimony .avatar .description_avatar{
            font-size: var(--ft_s_autor);
            font-weight: normal;
            text-align: left;
            text-wrap: balance;
            margin-left: 2ch ;

           

    }
}
.testimony .avatar img{

    clip-path: circle(50%);

}

footer {
    padding-block: 5%;
}
footer >*{
    margin-inline: auto;
   
}
footer .footer_columns_Container{
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(calc(375px / 2),1fr));
    gap: clamp(.5rem, 5% , .75rem);
    margin-top: 2rem;
    line-height: 1.5rem;
}
footer .footer_columns_Container a{
    margin-block:.6rem;
    color: #000;
}
footer span{
    font-weight: bold;
}